---
import SectionTitle from "@/components/ui/SectionTitle.astro";
import ShadowBox from "@/components/ui/ShadowBox.astro";
import Tooltip from "@/components/ui/Tooltip.astro";
import { formatDate } from "@/lib/shared/calendar.js";
import type { Tables } from "@/db-types";
import { articleLinkTarget } from "@/lib/shared/supabase/articles";
import { Image } from "astro:assets";
import iconShare from "@/images/icons/share.svg";

type Article = Pick<Tables<"articles">, "title" | "date" | "image"> & {
  url: string;
  category: string;
  preview?: string;
};

export type Props = {
  mainArticle: Article;
  articles: Article[];
  [key: string]: any;
};

const {
  title,
  icon,
  mainArticle,
  articles,
  reverse,
  hideImageOnMobile = false,
} = Astro.props;
---

<div>
  <ShadowBox class="contents md:block">
    <section class="py-1 md:p-4">
      <h1 class="pb-2">
        <SectionTitle icon={icon}>{title}</SectionTitle>
      </h1>

      <!-- MAIN ARTICLE -->
      <a
        href={mainArticle.url}
        class="cursor-pointer"
        target={articleLinkTarget(mainArticle)}
      >
        <article class="lg:grid grid-cols-5 flex-row-reverse gap-4">
          <div
            class:list={[
              "hidden",
              "lg:block",
              "col-span-3",
              reverse && "order-1",
            ]}
          >
            <img
              class="w-full aspect-video"
              src={mainArticle?.image}
              alt="main article image"
            />
          </div>
          <div class:list={["col-span-2", reverse && "order-0"]}>
            <p class="italic font-raleway text-neutral-400 text-sm">
              {formatDate(mainArticle.date)}
            </p>
            <h2 class="font-display text-3xl mb-2 leading-none">
              {mainArticle.title}
            </h2>

            <div class="flex gap-2">
              <p class="text-blue-800 text-sm font-raleway font-bold uppercase">
                {mainArticle.category}
              </p>
              <Tooltip>
                <Image
                  class="-translate-y-0.5"
                  src={iconShare}
                  alt="share icon"
                />
                <div
                  class="bg-black bg-opacity-70 text-white px-2"
                  slot="tooltip"
                >
                  share
                </div>
              </Tooltip>
            </div>
            {
              mainArticle.preview && (
                <p class="text-base text-gray-900 font-raleway leading-tight mb-4">
                  {mainArticle.preview}
                </p>
              )
            }
            <div
              class:list={["pb-2 lg:hidden col-span-3", reverse && "order-1"]}
            >
              <img
                class:list={[
                  "w-full aspect-video",
                  hideImageOnMobile && "hidden",
                ]}
                src={mainArticle?.image}
                alt="main article image"
              />
            </div>
          </div>
        </article>
      </a>

      <!-- OTHER ARTICLES HERE -->
      <div class="md:grid grid-cols-3 gap-4 mt-4">
        {
          articles.map((a) => (
            <a
              href={a.url}
              class="cursor-pointer"
              target={articleLinkTarget(a)}
            >
              <article>
                <div class="flex gap-2 items-center py-0 font-display lg:text-xl md:text-lg text-xl leading-tight">
                  <div class="hidden md:block h-16 lg:h-8 w-[3px] bg-blue-950" />
                  <h3>{a.title}</h3>
                </div>
                <div class="py-3 md:p-3 flex gap-4">
                  <p class="font-raleway uppercase text-blue-900 text-xs font-bold">
                    {a.category}
                  </p>
                  <Image
                    class="-translate-y-1"
                    src={iconShare}
                    alt="share button"
                  />
                </div>
              </article>
              <div class="md:hidden bg-blue-950 w-full mx-auto h-[1px] mt-2 mb-4" />
            </a>
          ))
        }
      </div>
    </section>
  </ShadowBox>
</div>
