---
import SectionTitle from "@/components/ui/SectionTitle.astro";
import ShadowBox from "@/components/ui/ShadowBox.astro";
import Tooltip from "@/components/ui/Tooltip.astro";
import { formatDate } from "@/lib/shared/calendar.js";
import type { Tables } from "@/db-types";

type News = Pick<
  Tables<"news">,
  "title" | "date" | "image" | "preview" | "category"
> & {
  url: string;
};

export interface Props {
  mainNews: News;
  news: News[];
  [key: string]: any;
}

const {
  title,
  icon,
  mainNews,
  news,
  reverse,
  hideImageOnMobile = false,
} = Astro.props;
---

<div>
  <ShadowBox class="contents md:block">
    <section class="py-1 md:p-4">
      <h1 class="pb-2">
        <SectionTitle icon={icon}>{title}</SectionTitle>
      </h1>

      <!-- MAIN NEWS -->
      <a href={mainNews.url} class="cursor-pointer">
        <article class="lg:grid grid-cols-5 flex-row-reverse gap-4">
          <div
            class:list={[
              "hidden",
              "lg:block",
              "col-span-3",
              reverse && "order-1",
            ]}
          >
            <img
              class="w-full aspect-video"
              src={mainNews?.image}
              alt="main article image"
            />
          </div>
          <div class:list={["col-span-2", reverse && "order-0"]}>
            <p class="italic font-raleway text-neutral-400 text-sm">
              {formatDate(mainNews.date)}
            </p>
            <h2 class="font-display text-3xl mb-2 leading-none">
              {mainNews.title}
            </h2>

            <div class="flex gap-2">
              <p class="text-blue-800 text-sm font-raleway font-bold uppercase">
                {mainNews.category}
              </p>
              <Tooltip>
                <img
                  class="-translate-y-0.5"
                  src="/images/icons/share.svg"
                  alt="share icon"
                />
                <div
                  class="bg-black bg-opacity-70 text-white px-2"
                  slot="tooltip"
                >
                  share
                </div>
              </Tooltip>
            </div>
            <p class="text-base text-gray-900 font-raleway leading-tight mb-4">
              {mainNews.preview}
            </p>
            <div
              class:list={["pb-2 lg:hidden col-span-3", reverse && "order-1"]}
            >
              <img
                class:list={[
                  "w-full aspect-video",
                  hideImageOnMobile && "hidden",
                ]}
                src={mainNews?.image}
                alt="main article image"
              />
            </div>
          </div>
        </article>
      </a>

      <!-- OTHER NEWS HERE -->
      <div class="md:grid grid-cols-3 gap-4 mt-4">
        {
          news.map((n) => (
            <a href={n.url} class="cursor-pointer">
              <article>
                <div class="flex gap-2 items-center py-0 font-display lg:text-xl md:text-lg text-xl leading-tight">
                  <div class="hidden md:block h-16 lg:h-8 w-[3px] bg-blue-950" />
                  <h3>{n.title}</h3>
                </div>
                <div class="py-3 md:p-3 flex gap-4">
                  <p class="font-raleway uppercase text-blue-900 text-xs font-bold">
                    {n.category}
                  </p>
                  <img
                    class="-translate-y-1"
                    src="/images/icons/share.svg"
                    alt="share button"
                  />
                </div>
              </article>
              <div class="md:hidden bg-blue-950 w-full mx-auto h-[1px] mt-2 mb-4" />
            </a>
          ))
        }
      </div>
    </section>
  </ShadowBox>
</div>
