---
import routes from "@/lib/shared/routes";
import Link from "../navigation/Link.astro";

interface Props {
  t: (key: string) => any;
}

const { t } = Astro.props;

const cities = ["Milano", "Roma", "Venezia", "Torino", "Trieste", "Firenze", "Bologna", "Napoli"];
---

<footer style="background: linear-gradient(0.83deg, #001C46 5.69%, rgba(0, 52, 128, 0.44) 208.16%)">
  <div
    class="w-full px-14 xs:px-24 lg:px-16 xl:px-24 py-16 md:grid grid-cols-[auto_auto_auto] gap-16 lg:gap-12 xl:gap-24 mx-auto">
    <div class="xs:grid grid-cols-2 md:block lg:flex gap-8">
      <div class="flex gap-2 xs:justify-end md:justify-start">
        <img src="/images/icons/contacts-white.svg" alt="icon contacts" class="w-4 translate-y-[5px] mb-auto mt-0" />
        <h3
          class="uppercase text-xl xs:text-right md:text-left pb-1 items-start text-white font-raleway font-semibold">
          {t("contacts.title")}
        </h3>
      </div>
      <div class="flex lg:block gap-3 xs:gap-0 md:gap-2">
        <div class="lg:hidden w-5 xs:-0 md:w-5"></div>
        <ul class="font-raleway max-sm:text-sm text-white items-start translate-y-1">
          <li class="leading-5">
            <b>{t("contacts.email")}:</b> info@chabad.it
          </li>
          <div class="h-3"></div>
          <li class="leading-5">
            <b>{t("contacts.telephone")}:</b> 34567891234
          </li>
          <div class="h-3"></div>
          <li class="leading-5">
            <b>{t("contacts.address")}:</b> via Poerio 29, Milano (MI)
          </li>
          <div class="h-3"></div>
        </ul>
      </div>
    </div>

    <div class="md:hidden h-12"></div>

    <div class="xs:grid grid-cols-2 md:block lg:flex gap-8">
      <div class="flex gap-2 xs:justify-end md:justify-start">
        <img src="/images/icons/icon-map.svg" alt="icon map" class="w-4 translate-y-[6px] mb-auto mt-0" />
        <h3 class="uppercase text-xl xs:text-right md:text-left pb-1 items-start text-white font-raleway font-semibold">
          {t("locations-title")}
        </h3>
      </div>
      <div class="flex lg:block gap-3 xs:gap-0 md:gap-3">
        <div class="lg:hidden w-5 md:w-5"></div>
        <ul class="flex flex-col gap-2 font-raleway max-sm:text-sm text-white uppercase items-start translate-y-1">
          {
            cities.map((city) => (
              <li>
                <a href={routes.organizations({ city })}>{city}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class="md:hidden h-12"></div>

    <div class="xs:grid grid-cols-2 md:block lg:flex gap-8">
      <div class="flex gap-2 xs:justify-end md:justify-start">
        <img src="/images/icons/social-white.svg" alt="icon social" class="w-4 translate-y-[5px] mb-auto mt-0" />
        <h3
          class="uppercase text-xl xs:text-right md:text-left pb-1 items-start text-white font-raleway font-semibold">
          Social <br />Network:
        </h3>
      </div>
      <div
        class="flex gap-2 ml-0 mr-auto lg:translate-y-6 lg:mb-auto mt-1 xs:mt-auto xs:mb-0 md:mt-1 lg:mt-0 xs:-translate-y-2 md:translate-y-0">
        <div class="lg:hidden w-5 xs:w-3 md:w-5"></div>
        <Link href="https://www.facebook.com/ChabadItalia/?locale=it_IT"><img class="w-6 lg:translate-y-[12px]" src="/images/icons/facebook-white.svg" alt="icona facebook" /></Link>
        <Link href="https://www.instagram.com/chabad.it/"><img class="w-6 lg:translate-y-[12px]" src="/images/icons/instagram-white.svg" alt="icona instagram" /></Link>
        <Link href="https://www.youtube.com/@ChabadItalia"><img class="w-6 lg:translate-y-[12px]" src="/images/icons/youtube-white.svg" alt="icona youtube" /></Link>
        <Link href=" https://x.com/ChabadItalia?t=t0Axbjr0eYOdMHe8AGmhMg&s=08"><img class="w-6 lg:translate-y-[12px]" src="/images/icons/logo-x-white.svg" alt="icona social x" /></Link>
      </div>
    </div>
  </div>
  <div style={{ boxShadow: "0px 0px 4px #0F60DD" }} class="w-full h-[2px] bg-[#3363AC]"></div>
  <div class="max-md:hidden bg-gray-100 z-10 p-8 grid grid-cols-2 items-center gap-16">
    <div class="font-raleway text-blue-950 ml-auto mr-0">
      <div class="flex gap-3">
        <img class="w-4 -translate-y-[1px]" src="/images/icons/blue-icons/newsletter-blue.svg" alt="icona newsletter" />
        <h3 class="uppercase text-xl font-semibold">newsletter</h3>
      </div>
      <div class="h-1"></div>
      <div class="flex gap-3">
        <div class="w-4"></div>
        <p>{t("newsletter-paragraph")}</p>
      </div>
    </div>
    <div class="flex">
      <div
        class="flex w-80 focus-within:ring-1 focus-within:ring-blue-900 focus-within:outline-none border border-neutral-200 rounded-lg shadow-md">
        <p class="ml-2 mr-1 my-1 text-blue-950">@</p>
        <p class="my-1 mr-1 text-blue-950">|</p>
        <input type="text" class="w-full focus:outline-none rounded-lg" id="email-input" />
      </div>
      <div class="bg-red-700 w-fit py-1 px-4 cursor-pointer -translate-x-1">
        <span class="text-center text-white font-montserrat uppercase">{t("subscribe-button")}</span>
      </div>
    </div>
  </div>
  <div style={{ boxShadow: "0px 0px 4px #0F60DD" }} class="max-md:hidden w-full h-[2px] bg-[#3363AC]"></div>
  <div class="xs:flex sm:pt-3 max-sm:pt-6 pb-8 px-8 gap-8">
    <div
      class="grid max-sm:grid-cols-[auto_auto] sm:grid-cols-[auto_auto_auto] md:flex flex-wrap gap-y-4 gap-x-14 text-white text-xs font-montserrat uppercase">
      <Link href={routes.home}><span>{t("navbar-menu.home")}</span></Link>
      <Link href={routes.news}><span>{t("navbar-menu.news")}</span></Link>
      <Link href={routes.articles}><span>{t("navbar-menu.articles")}</span></Link>
      <Link href={routes.live}><span>{t("navbar-menu.video-live")}</span></Link>
      <Link href={routes.organizations()}><span>{t("navbar-menu.organizations")}</span></Link>
      <Link href={routes.events}><span>{t("navbar-menu.events")}</span></Link>
      <Link href={routes.about}><span>{t("navbar-menu.about-us")}</span></Link>
      <Link href={routes.contribute}><span>{t("navbar-menu.contributes")}</span></Link>
    </div>
    <button
      class="block bg-blue-950 border border-white text-white font-raleway uppercase font-semibold px-8 py-1 mx-auto xs:ml-auto xs:mr-0 mt-9 xs:mt-2 sm:mt-0 lg:mt-2">
      <p>{t("donate-button")}</p>
    </button>
  </div>
  <div class="flex w-fit gap-1 font-montserrat text-white text-xs mx-auto pb-4">
    <p>{t("terms-and-conditions")}</p>
    <p>-</p>
    <p>Privacy Policy</p>
  </div>
</footer>
