---
import EventsSection from "@/components/events/EventsSection.astro";
import OrganizationSection from "@/components/organizations/OrganizationSection.astro";
import Newsletter from "@/components/sidebar/Newsletter.astro";
import ShadowBox from "@/components/ui/ShadowBox.astro";
import Carousel from "@/components/ux/carousel/Carousel.astro";
import CarouselItem from "@/components/ux/carousel/CarouselItem.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { errorResponse } from "@/lib/server/error-response";
import { checkLangParam, getTranslations } from "@/lib/server/lang/lang";
import { throwError } from "@/lib/shared/error";
import supabase from "@/lib/server/supabase";
import type { GetStaticPaths } from "astro";
import type { Tables } from "@/db-types";

if (!checkLangParam(Astro)) {
  return errorResponse(Astro.url);
}

const t = await getTranslations("pages/organizations", Astro.url);

// TODO METTERE I DATI DELLA SINGOLA ORGANIZZAZIONE

const { slug } = Astro.params;

// type Organization = Pick<
//   Tables<"organizations">,
//   | "name"
//   | "city"
//   | "main_image"
//   | "content"
//   | "created_at"
//   | "link_donate"
//   | "markdown"
//   | "slogan"
//   | "website"
// >;

// export type Props = {
//   mainOrganization: Organization;
//   [key: string]: any;
// };

// const { mainOrganization } = Astro.props;

const organization = !slug
  ? null
  : await supabase
      .from("organizations")
      .select("*,events_organizations(*, events(*))")
      .eq("slug", slug)
      .then(({ data, error }) => {
        if (error) {
          throwError(
            "organization page",
            "Error fetching organization: " + error.message
          );
        }
        return !data?.length ? null : data[0];
      });

if (!organization) {
  return errorResponse(Astro.url);
}
---

<PageLayout title="demo" description="demo">
  <section slot="title">
    <div class="h-6"></div>
  </section>

  <section slot="content-1">
    <ShadowBox class="pb-4">
      <div
        class="grid grid-cols-2 w-full items-center bg-[#031B4D] border-b-white border-b-[1px] text-white px-6 py-3"
      >
        <div class="flex justify-start items-center -translate-y-px gap-3">
          <img
            src={organization.logo}
            class="h-8 xs:h-10 -m-1"
            alt="chabad logo icon"
          />

          <h2
            class="font-display text-lg md:text-2xl uppercase leading-4 md:leading-6"
          >
            {organization.name}
          </h2>
        </div>

        <div
          class="flex gap-6 justify-end font-montserrat font-medium text-base"
        >
          <p>Website</p>
          <p>Contatti</p>
        </div>
      </div>
      <div class="stack place-items-center">
        <img
          src={organization.main_image}
          alt="immagine a caso"
          class="w-full object-cover aspect-[9/4]"
        />
        <div class="w-full h-full bg-blue-950 opacity-60"></div>
        <div class="z-10 flex flex-col justify-center gap-y-1">
          <h3
            class="text-white font-display font-bold text-5xl uppercase text-center text mx-auto"
            style="text-shadow: 0 0 5px rgb(37, 37, 37)"
          >
            {organization.name}
          </h3>

          <p
            class="text-white font-display font-medium text-2xl mx-auto"
            style="text-shadow: 0 0 5px rgb(37, 37, 37)"
          >
            {organization.slogan}
          </p>

          <div class="h-10"></div>

          <button
            class="bg-blue-950 border border-white text-white font-raleway uppercase font-semibold px-16 py-2 mx-auto"
          >
            <a href={organization.link_donate}> <p>DONATE</p></a>
          </button>
        </div>
      </div>
      <div class="h-14 bg-[#18315E] w-full border-t-[1px] border-t-white"></div>

      <div class="grid grid-cols-[2fr_3fr] gap-10 px-8">
        <div>
          <img
            src="/images/third-main-image.jpg"
            alt="immagine a caso"
            class="w-full object-cover aspect-[3/4] -translate-y-7 shadow shadow-black"
          />
        </div>
        <div class="font-raleway py-10">
          {organization.markdown}
        </div>
      </div>
      <div class="relative pt-4 pb-8 pl-4 pr-8">
        <h3 class="text-blue-950 uppercase text-xl ml-6 mb-4">
          {t("single-project-page.events-section-title")}
        </h3>
        <Carousel
          nextArrowId="arrow-next-event"
          prevArrowId="arrow-previous-event"
        >
          {
            [...new Array(20)].map((p) => (
              <CarouselItem>
                <EventsSection
                  associazione="Beit chabad"
                  nome="Seder di Rosh Hashanah"
                  data="89/75/7805"
                  immagine="../../images/parshat/acharei-kedoshim.jpeg"
                  città="Milano"
                />
              </CarouselItem>
            ))
          }
        </Carousel>
        <button
          id="arrow-previous-event"
          class="absolute rounded-[100%] w-12 h-12 shadow left-0 top-1/2 -translate-x-5 lg:-translate-x-8 -translate-y-1/2"
        >
          <img
            class="w-full"
            src="/images/icons/arrow-prev.svg"
            alt="carousel icon"
          />
        </button>
        <button
          id="arrow-next-event"
          class="absolute rounded-[100%] w-12 h-12 z-10 shadow right-0 top-1/2 translate-x-5 lg:translate-x-9 -translate-y-1/2"
        >
          <img
            class="w-full"
            src="/images/icons/arrow-next.svg"
            alt="icona carousel"
          />
        </button>
      </div>

      <div
        class="bg-[#18315E] px-10 py-6 grid grid-cols-3 gap-4 text-white font-montserrat mt-6"
      >
        <ul>
          <li class="text-lg uppercase font-semibold">contatti</li>
          <li class="flex items-center gap-1 text-sm">
            <div class="bg-white h-[1px] w-1"></div>chabadmilano@minvento.com
          </li>
          <li class="flex items-center gap-1 text-sm">
            <div class="bg-white h-[1px] w-1"></div>345678912
          </li>
        </ul>
        <ul>
          <li class="text-lg uppercase font-semibold">sede</li>
          <li class="flex items-center gap-1 text-sm">
            <div class="bg-white h-[1px] w-1"></div><b>Milano</b>, via dei
            molari degli spini 39
          </li>
        </ul>
        <ul>
          <li class="text-lg uppercase font-semibold">contatti</li>
          <li class="flex items-center gap-1 text-sm">
            <div class="bg-white h-[1px] w-1"></div><b>Iban</b>:
            12345tre5678uyt86543333333
          </li>
          <li class="flex items-center gap-1 text-sm">
            <button
              class="bg-blue-950 border border-white text-white font-raleway uppercase font-semibold px-16 py-2 mt-2"
            >
              <p>dona</p></button
            >
          </li>
        </ul>
      </div>
    </ShadowBox>
  </section>

  <section slot="sidebar" class="md:flex flex-col gap-4">
    <div class="hidden md:block">
      <Newsletter />
    </div>
  </section>

  <section slot="elenco-cell" class="sm:px-4 pb-8">
    <h2
      class="font-raleway uppercase text-blue-950 font-semibold text-2xl mb-2"
    >
      {t("single-project-page.chabad-projects-section-title")}
    </h2>
    <div class="flex flex-col gap-6">
      <OrganizationSection />
    </div>
  </section>

  <section slot="elenco-desktop">
    <ShadowBox class="mx-5 md:px-6 lg:px-12 pb-8">
      <h2
        class="font-raleway uppercase text-blue-950 font-bold text-2xl mt-8 mb-4"
      >
        {t("single-project-page.chabad-projects-section-title")}
      </h2>
      <div class="flex flex-col gap-6">
        <OrganizationSection />
      </div>
    </ShadowBox>
  </section>
</PageLayout>
