---
import EventsSection from "@/components/events/EventsSection.astro";
import OrganizationSection from "@/components/organizations/OrganizationSection.astro";
import Newsletter from "@/components/sidebar/Newsletter.astro";
import ShadowBox from "@/components/ui/ShadowBox.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { errorResponse } from "@/lib/server/error-response";
import { checkLangParam, getTranslations } from "@/lib/server/lang/lang";
import { getData } from "../_utils";

if (!checkLangParam(Astro)) {
  return errorResponse(Astro.url);
}

const { events } = await getData();

const t = await getTranslations("pages/organizations", Astro.url);

// const cityFilter = Astro.url.searchParams.get("city");
// const query = supabase.from("organizations").select().limit(10);
// if (cityFilter) {
//   query.like("city", cityFilter);
// }
---

<PageLayout title="deo" description="demo">
  <section slot="title">
    <div
      class="grid grid-cols-[1fr_auto_1fr] items-center pt-2 pb-[1px] sm:pt-4 sm:pb-3 px-4"
    >
      <div class="h-0.5 bg-white mr-4 mb-2 ml-9 border-t"></div>
      <h1
        class="text-2xl sm:text-3xl uppercase font-messiri text-white font-bold text-center"
      >
        {t("main-title")}
      </h1>
      <div class="h-0.5 bg-white ml-4 mb-2 mr-9 border-t"></div>
    </div>
  </section>

  <section slot="content-1" class="flex flex-col gap-4">
    <OrganizationSection />
  </section>

  <section slot="sidebar" class="md:flex flex-col gap-4">
    <ShadowBox class="">
      <div class="py-5 bg-slate-50">
        <EventsSection
          nome={events[0].name}
          data={events[0].date}
          immagine={events[0].main_image}
          citta={events[0].city}
          url={events[0].url}
        />
      </div>
    </ShadowBox>

    <div class="hidden md:block">
      <Newsletter />
    </div>
  </section>
</PageLayout>
