---
import ShadowBox from "@/components/ui/ShadowBox.astro";
import Newsletter from "@/components/sidebar/Newsletter.astro";
import Parshat from "@/components/sidebar/Parshat.astro";
import PageLayout from "src/layouts/PageLayout.astro";
import Tooltip from "@/components/ui/Tooltip.astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";

import { checkLangParam } from "@/lib/server/lang/lang";
import { throwError } from "@/lib/shared/error";
import supabase from "@/lib/server/supabase";
import { compile, run } from "@mdx-js/mdx";
import * as runtime from "react/jsx-runtime"; // Production.
import { formatDate } from "@/lib/shared/calendar";
import { newsMapper } from "@/lib/shared/supabase/news";
import { errorResponse } from "@/lib/server/error-response";
import { Image } from "astro:assets";
import logoText from "@/images/logo/chabad-text-black.svg";
import logoChabad from "@/images/logo/logo-black.svg";
import iconShare from "@/images/icons/share.svg";
import routes from "@/lib/shared/routes";
import EventsSection from "@/components/events/EventsSection.astro";
import { getData } from "../_utils";
// import * as runtime from 'react/jsx-dev-runtime' // Development.

if (!checkLangParam(Astro)) {
  return errorResponse(Astro.url);
}

const { slug } = Astro.params;

const news = !slug
  ? null
  : await supabase
      .from("news")
      .select("title, content, date, image, category, slug")
      .eq("slug", slug)
      .then(({ data, error }) => {
        if (error) {
          throwError("News page", "Error fetching news: " + error.message);
        }
        return !data?.length ? null : data[0];
      });

if (!news) {
  return errorResponse(Astro.url);
}

const { events } = await getData();

const allNews = await supabase
  .from("news")
  .select()
  .limit(10)
  .then(({ error, data }) => {
    if (error) {
      throwError("Page News", "Error fetching allNews:" + error.message);
    }
    return data?.map(newsMapper) || [];
  });

// funziona solo se i componenti sono importabili
// per questo usare solo componenti di @chabad/ui condiviso tra questa repo e l'editor
const code = !news
  ? ""
  : String(
      await compile(news.content, {
        outputFormat: "function-body",
        development: false,
        // ^-- Generate code for production.
        // `false` if you use `/jsx-runtime` on client, `true` if you use
        // `/jsx-dev-runtime`.
        /* …otherOptions */
      })
    );

const Content = (await run(code, runtime)).default || "div";
---

<PageLayout title="Articolo" description="bla bla bla">
  <section slot="title">
    <div class="h-6"></div>
  </section>

  <section slot="content-1">
    <ShadowBox>
      <div class="pb-6 px-6 pt-4 bg-stone-50">
        <article>
          <div class="relative grid grid-cols-[1fr_auto_1fr] items-center mt-2">
            <div class="absolute flex -top-1 w-full">
              <Image
                class="w-20 mb-1"
                src={logoText}
                alt="logo chabad text black"
              />
              <i class="font-raleway text-sm font-light ml-auto mr-0"
                >{formatDate(news.date)}</i
              >
            </div>
            <div class="bg-black h-[1px] w-full"></div>
            <div class="flex items-center gap-2 px-4">
              <Image class="w-6" src={logoChabad} alt="logo chabad black" />
            </div>
            <div class="bg-black h-[1px] w-full mt-1"></div>
          </div>

          <div class="flex">
            <div class="ml-0 mr-auto">
              <p
                class="font-raleway uppercase text-blue-950 font-bold items-end"
              >
                {news.category}
              </p>
            </div>
            <div class="flex gap-1 justify-end items-center">
              <span class="text-xs text-blue-950 font-medium font-raleway"
                >share</span
              >
              <Tooltip>
                <Image class="sm:w-8" src={iconShare} alt="share icon" />
                <div
                  class="bg-black bg-opacity-70 text-white px-2"
                  slot="tooltip"
                >
                  share
                </div>
              </Tooltip>
            </div>
          </div>
          <div class="font-display font-bold text-3xl sm:text-4xl pb-4 -mt-1">
            <h1 class="leading-8">{news.title}</h1>
          </div>

          <div class="pb-6 aspect-video">
            <img
              class="object-cover w-full h-full"
              src={news.image}
              alt="bla bla bla"
            />
          </div>
          <div
            class="pb-4 prose prose:text-black prose-h1:text-red-500 prose-h2:text-3xl prose:font-raleway prose:text-black prose-h2:font-display prose-h2:my-2 prose-h3:uppercase prose-h3:my-1"
          >
            <Content />
          </div>
        </article>
      </div>
    </ShadowBox>

    <div class="h-4"></div>

    <section slot="content-2">
      <ShadowBox>
        <div class="p-6">
          <h1 class="mb-4">
            <a href={routes.news}>
              <SectionTitle>Tutte le notizie</SectionTitle></a
            >
          </h1>
          <div
            class="grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-3 gap-x-4 gap-y-6"
          >
            <!-- TODO: SE getStrapiUrl da errore, l'errore risulta lanciato da questo file!!! -->
            {
              allNews.map((n) => (
                <div>
                  <img
                    class="w-full aspect-[8/3]"
                    src={n.image}
                    alt="main article image"
                  />
                  <p class="text-lg font-display font-medium mt-2 leading-tight">
                    {n.title}
                  </p>
                </div>
              ))
            }
          </div>
        </div>
      </ShadowBox>
    </section>
  </section>

  <section slot="sidebar" class="md:flex flex-col gap-4">
    <ShadowBox>
      <div class="py-5">
        <EventsSection
          nome={events[0].name}
          data={events[0].date}
          immagine={events[0].main_image}
          citta={events[0].city}
          url={events[0].url}
        />
      </div>
    </ShadowBox>

    <!-- <div class="max-sm:hidden">
      <Parshat
        title="acharei kedoshim"
        date="15/giugno/2023"
        image="images/parshat/acharei-kedoshim.jpeg"
      />
    </div> -->

    <div class="md:hidden h-4"></div>

    <div class="hidden md:block">
      <Newsletter />
    </div>
  </section>
</PageLayout>
