---
import Newsletter from "@/components/sidebar/Newsletter.astro";
import PageLayout from "src/layouts/PageLayout.astro";
import EventsPageSection from "@/components/events/EventsPageSection.astro";
import ShadowBox from "@/components/ui/ShadowBox.astro";
import { checkLangParam, getTranslations } from "@/lib/server/lang/lang";
import { errorResponse } from "@/lib/server/error-response";
import supabase from "@/lib/server/supabase";
import { throwError } from "@/lib/shared/error";
import { eventsWithOrganizationsMapper } from "@/lib/shared/supabase/events";

if (!checkLangParam(Astro)) {
  return errorResponse(Astro.url);
}

const t = await getTranslations("pages/events", Astro.url);

const { slug } = Astro.params;

const event = !slug
  ? null
  : await supabase
      .from("events")
      .select(
        "name, city, date, main_image, markdown, slug, events_organizations(*, organizations(*))"
      )
      .eq("slug", slug)
      .then(({ data, error }) => {
        if (error) {
          throwError("Event page", "Error fetching event: " + error.message);
        }
        return !data?.length ? null : eventsWithOrganizationsMapper(data[0]);
      });

if (!event) {
  return errorResponse(Astro.url);
}
---

<PageLayout title="Event" description="">
  <section slot="title">
    <div class="h-6"></div>
  </section>

  <section slot="content-1">
    <ShadowBox class="relative flex flex-col gap-y-1 p-4">
      <p class="text-blue-800 text-sm font-raleway font-bold uppercase mb-2">
        {event.organizations}
        {event.city}
      </p>

      <h2
        class="text-black text-3xl md:text-4xl font-display font-semibold leading-tight"
      >
        {event.name}
      </h2>

      <p class="text-gray-600 text-sm sm:text-base font-raleway">
        {event.date}
      </p>

      <img
        class="w-full aspect-video mt-2"
        src="/images/mainimage.jpg"
        alt="main article image"
      />

      <div class="pt-4 px-4 pb-12">
        <p class="text-base text-black font-raleway">
          {event.markdown}
        </p>
      </div>
    </ShadowBox>
  </section>

  <section slot="sidebar" class="md:flex flex-col gap-4">
    <ShadowBox class="m-5 md:m-0 p-4">
      <h3
        class="text-blue-950 font-raleway font-semibold uppercase text-2xl md:text-xl lg:text-2xl leading-tight mb-2"
      >
        {t("contacts.title")}
      </h3>
      <ul class="text-black font-raleway text-sm">
        <li>
          <b>{t("contacts.email")}</b>: carlogrossi@venti.net
        </li>
        <li>
          <b>{t("contacts.telephone")}</b>: 34567891234
        </li>
        <li>
          <b>{t("contacts.address")}</b>: carlogrossi@venti.net
        </li>
      </ul>
    </ShadowBox>

    <div class="hidden md:block">
      <Newsletter />
    </div>
  </section>

  <!-- <section slot="elenco-cell">
    <h2 class="font-raleway uppercase text-blue-950 font-semibold text-2xl">
      {t("all-events-title")}
    </h2>
    <div class="grid grid-cols-1 xs:grid-cols-2 gap-8 p-4">
      <EventsPageSection
        associazione="Beit chabad"
        nome="Seder di Rosh Hashanah"
        data="89/75/7805"
        titoloContatti="CONTATTI"
        email="fabio@rovazzi.net"
        telefono="34567891234"
      />
      <EventsPageSection
        associazione="Beit chabad"
        nome="Seder di Rosh Hashanah"
        data="89/75/7805"
        immagine="/images/parshat/acharei-kedoshim.jpeg"
        titoloContatti="CONTATTI"
        email="fabio@rovazzi.net"
        telefono="34567891234"
      />
      <EventsPageSection
        associazione="Beit chabad"
        nome="Seder di Rosh Hashanah"
        data="89/75/7805"
        immagine="/images/parshat/acharei-kedoshim.jpeg"
        titoloContatti="CONTATTI"
        email="fabio@rovazzi.net"
        telefono="34567891234"
      />
      <EventsPageSection
        
        
      />
    </div>
  </section>

  <section slot="elenco-desktop">
    <h2
      class="font-raleway uppercase text-blue-950 font-bold text-2xl mx-4 my-4">
      {t("all-events-title")}
    </h2>
    <div class="grid grid-cols-1 xs:grid-cols-2 lg:grid-cols-3 gap-8 p-4">
      <EventsPageSection />
      <EventsPageSection />
      <EventsPageSection />
      <EventsPageSection />
    </div>
  </section> -->
</PageLayout>
