---
import ShadowBox from "@/components/ui/ShadowBox.astro";
import Newsletter from "@/components/sidebar/Newsletter.astro";
import Parshat from "@/components/sidebar/Parshat.astro";
import PageLayout from "src/layouts/PageLayout.astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import Tooltip from "@/components/ui/Tooltip.astro";
import { checkLangParam, getTranslations } from "@/lib/server/lang/lang";
import supabase from "@/lib/server/supabase";
import { livesMapper } from "@/lib/shared/supabase/live";
import { throwError } from "@/lib/shared/error";
import type { Tables } from "@/db-types";

if (!checkLangParam(Astro)) {
  return errorResponse(Astro.url);
}

const t = await getTranslations("pages/articles", Astro.url);

const videolives = await supabase
  .from("live_video")
  .select()
  .order("date", { ascending: false })
  .limit(10)
  .then(({ error, data }) => {
    if (error) {
      throwError("PAGE Lives", "Error fetching lives:" + error.message);
    }
    return data?.map(livesMapper) || [];
  });

const mainVideoLive = videolives.pop()!;
---

<PageLayout title="Live & Video" description="bla bla bla">
  <section slot="title">
    <div
      class="grid grid-cols-[1fr_auto_1fr] items-center pt-2 pb-[1px] sm:pt-4 sm:pb-3 px-8"
    >
      <div class="h-0.5 bg-white mr-4 mb-2 ml-9 border-t"></div>
      <h1
        class="text-2xl sm:text-4xl uppercase font-messiri text-white font-bold text-center"
      >
        LIVE & VIDEO
      </h1>
      <div class="h-0.5 bg-white ml-4 mb-2 mr-9 border-t"></div>
    </div>
  </section>

  <section slot="content-1" class="flex flex-col gap-4">
    <ShadowBox>
      <div class="p-6">
        <a href={mainVideoLive.url}>
          <div class="flex">
            <h2 class="mb-4 font-display text-3xl font-bold">
              {mainVideoLive.title}
            </h2><div class="ml-auto mr-0">
              <Tooltip>
                <button>
                  <img
                    class="-translate-y-0.5"
                    src="/images/icons/share.svg"
                    alt="share icon"
                  />
                </button>
                <div
                  class="bg-black bg-opacity-70 text-white px-2"
                  slot="tooltip"
                >
                  share
                </div>
              </Tooltip>
            </div>
          </div>
        </a>
        <div>{mainVideoLive.youtube_link}</div>
      </div>
    </ShadowBox>
  </section>

  <section slot="elenco-cell">
    <ShadowBox>
      <div class="p-6">
        <h2 class="mb-4">
          <SectionTitle>Tutti e video e live</SectionTitle>
        </h2>
        <div
          class="grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-3 gap-x-4 gap-y-6"
        >
          <!-- TODO: SE getStrapiUrl da errore, l'errore risulta lanciato da questo file!!! -->
          {
            videolives.map((l) => (
              <>
                <div>{l.youtube_link}</div>
                <h2>{l.title}</h2>
              </>
            ))
          }
        </div>
      </div>
    </ShadowBox>
  </section>

  <section slot="sidebar" class="md:flex flex-col gap-4">
    <Parshat
      title="acharei kedoshim"
      date="15/giugno/2023"
      image="images/parshat/acharei-kedoshim.jpeg"
    />

    <div class="hidden md:block">
      <Newsletter />
    </div>
  </section>

  <section slot="elenco-desktop">
    <ShadowBox>
      <div class="p-6">
        <h2 class="mb-4">
          <SectionTitle>{t("all-videos-section.title")}</SectionTitle>
        </h2>
        <div
          class="grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-3 gap-x-4 gap-y-6"
        >
          <!-- TODO: SE getStrapiUrl da errore, l'errore risulta lanciato da questo file!!! -->

          {
            videolives.map((l) => (
              <>
                <div>
                  <div>{l.youtube_link}</div>
                  <h2>{l.title}</h2>
                </div>
              </>
            ))
          }
        </div>
      </div>
    </ShadowBox>
  </section>
</PageLayout>
